<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Tracker</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div>
        <h1>Daily task tracker</h1>
    </div>
    <div>
        <h1>Tasks:</h1>
    </div>
    <div>
        <button class="submit">
            
        </button>
    </div>
    <div>
        <h2>Choose a category</h2>
        <select name="category" id="">Choose a category</select>
        <option value="Depressed">Depressed</option>
        <option value="Sad">Sad</option>
        <option value="Overwhelmed">Overwhelmed</option>
    </div>
    <div></div>
    
    <script rel="script.js"></script>
</body>
</html>